/* Global Reset aur Container */
@import url("../global.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #f2f4f7;
    min-height: 100vh;
}

/* Header - Isay top par fix rakha gaya hai */
.dashboard-header {
    max-width: 1464px;
    width: 100%;
    align-self: center;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px 15px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
    /* Header ki fixed height */
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-left .search-input {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #eeeeee;
    padding-left: 8px;
    border-radius: 25px;
}

.header-left .search-input>input {
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    background-color: transparent;
}

.header-left .search-input i {
    color: gray;
}

.header-left>img {
    width: 40px;
}

.header-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

.header-center>div {
    max-width: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.header-center>div svg {
    color: #5C5E62;
}

.header-center>div:hover {
    background-color: rgb(233, 233, 233);
}

.header-center>div>i {
    font-size: 20px;
    color: rgb(132, 132, 132);
}

.header-center>div:first-child {
    border-bottom: 3px solid #0866ff;
    border-radius: 0px;
}

.header-center>div:first-child>i {
    color: #0866ff;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.header-right .header-right-icons,
.header-right .user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right .header-right-icons>.logo-svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right .header-right-icons {
    cursor: pointer;
}

.header-right .header-right-icons:hover {
    background-color: rgb(219, 219, 219);
}

.header-right .header-right-icons>i {
    font-size: 20px;
}

.header-right>button {
    height: 40px;
    padding: 0px 15px;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

/*********************************************  Dropdown menu start ***********************************************/

.dropdown-menu {
    font-family: "Arial";
    max-width: 560px;
    width: 100%;
    height: 95vh;
    position: absolute;
    align-self: baseline;
    margin-top: 50px;
    margin-right: 220px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 20px 25px;
    z-index: 999;
    border-radius: 10px;
    overflow: auto;
    cursor: auto;
}

.dropdown-menu-heading>h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.dropdown-menu-contant {
    display: flex;
    gap: 20px;
}

.dropdown-menu-contant-left {
    max-width: 300px;
    width: 100%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 10px;
    padding: 15px;
}

.dropdown-menu-contant-right {
    max-width: 200px;
    width: 100%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 10px;
    padding: 15px;
    height: fit-content;
}

.dropdown-menu-contant-left>.search-input {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #eeeeee;
    padding-left: 8px;
    border-radius: 25px;
}

.dropdown-menu-contant-left .search-input>div>i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.dropdown-menu-contant-left .search-input>input {
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    background-color: transparent;
}

.dropdown-menu-contant-left .search-input i {
    color: gray;
    height: 36px;
    width: 36px;
}

.dropdown-menu-contant-left>.menu-options,
.dropdown-menu-contant-right>.menu-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 10px;
}

.dropdown-menu-contant-right>.menu-options>div>.svg-div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e5e9;
    border-radius: 50%;
}

.dropdown-menu-contant-left>.menu-options>div,
.dropdown-menu-contant-right>.menu-options>div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
}

.dropdown-menu-contant-left>.menu-options>div:hover,
.dropdown-menu-contant-right>.menu-options>div:hover {
    background-color: #d6d6d66f;
    border-radius: 10px;
}

.dropdown-menu-contant-left>.heading-1>h3 {
    font-weight: 400;
    margin: 10px 0px;
    color: #080809;
}

.dropdown-menu-contant-right>.heading-1>h3 {
    margin: 10px 0px;
    color: #080809;
    font-weight: 600;
}

.dropdown-menu-contant-left>.menu-options>div>i,
.dropdown-menu-contant-left>.menu-options>div>img {
    margin: 6px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu-contant-right>.menu-options>div>i,
.dropdown-menu-contant-right>.menu-options>div>img {
    width: 40px;
    height: 40px;
}

.dropdown-menu-contant-left>.menu-options>div>div {
    margin: 6px;
    font-weight: 600;
    font-family: arial;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.dropdown-menu-contant-left>.menu-options>div>div>p {
    font-weight: 500;
    font-size: 13px;
    margin: 4px 0 0 0;
}

.menu-options-horizontal-line {
    width: 90%;
    background-color: #9595956f;
    height: 1.5px;
    align-self: center;
}

/*********************************************  Dropdown menu end ***********************************************/



/*********************************************  Dropdown Messanger start ***********************************************/

.dropdown-messanger {
    font-family: "Arial";
    max-width: 350px;
    width: 100%;
    height: auto;
    position: absolute;
    align-self: baseline;
    margin-top: 50px;
    margin-right: 100px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 15px 15px;
    z-index: 999;
    border-radius: 10px;
    overflow: auto;
    cursor: auto;
}

.dropdown-messanger>.dropdown-messanger-container {
    width: 100%;
}

.dropdown-messanger-container>.dropdown-messanger-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dropdown-messanger-container>.dropdown-messanger-container-header>.heading>h1 {
    font-size: 24px;
    color: #080809;
}

.dropdown-messanger-container>.dropdown-messanger-container-header>.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-messanger-container>.dropdown-messanger-container-header>.icons>.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-messanger-container>.dropdown-messanger-container-header>.icons>.icon:hover {
    background-color: #d6d6d66f;
}

.dropdown-messanger-container>.dropdown-messanger-container-searchbar {
    margin-bottom: 20px;
}

.dropdown-messanger-container>.dropdown-messanger-container-searchbar>.searchbar {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #eeeeee;
    padding-left: 8px;
    border-radius: 25px;
}

.dropdown-messanger-container>.dropdown-messanger-container-searchbar>.searchbar>div>i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.dropdown-messanger-container>.dropdown-messanger-container-searchbar>.searchbar>input {
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    background-color: transparent;
}

.dropdown-messanger-container-fillter-buttons>button:first-child {
    color: #075CE5;
    background-color: #d6d6d66f;
}

.dropdown-messanger-container-fillter-buttons>button{
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 6px;
    border-radius: 20px;
}

.dropdown-messanger-container-fillter-buttons>button:hover {
    background-color: #d6d6d66f;
}

.dropdown-messanger-container-fillter-chats>.chat {
    display: flex;
    align-items: center;
    gap: 12px;
}

.dropdown-messanger-container-fillter-chats>.chat>.chat-img>img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.dropdown-messanger-container-fillter-chats>.chat {
    margin-top: 13px;
    cursor: pointer;
}

.dropdown-messanger-container-fillter-chats>.chat>.chat-contant>h3 {
    font-size: 15px;
    color: #080809;
} 

.dropdown-messanger-container-fillter-chats>.chat>.chat-contant>p {
    font-size: 13px;
    color: #65686c;
    margin-top: 5px;
}











/*********************************************  Dropdown Messanger stop ***********************************************/

.main {
    display: flex;
    align-items: flex-start;
    max-width: 1464px;
    width: 100%;
    align-self: center;
}

.main .left-sidebar {
    width: 22%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.main .left-sidebar .left-sidebar-first-col>div,
#l-s-l-d-none {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Arial";
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
}

.left-sidebar-first-col div:hover {
    background-color: #d6d6d66f;
}

.left-sidebar-second-col {
    margin-top: 50px;
}

.left-sidebar-second-col a {
    font-family: "Arial";
    font-size: 13px;
    text-decoration: none;
    color: #65686c;
}

.left-sidebar-second-col a:hover {
    text-decoration: underline;
}

#leftSideSeeMoreLessDivs {
    display: none;
}

.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d3ded9;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    position: relative;
}

.profile-arrow {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: rgb(183, 183, 183);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.right-slider {
    width: 22%;
    padding: 20px 20px;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.contact-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-heading>p {
    font-family: "Arial";
    color: #65686c;
    font-weight: 600;
    font-size: 17px;
}

.r-s-c-h-svgs {
    display: flex;
    align-items: center;
    gap: 5px;
}

.r-s-c-h-svg-1,
.r-s-c-h-svg-2 {
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.r-s-c-h-svg-1 svg,
.r-s-c-h-svg-2 svg {
    color: #65686c;
}

.r-s-c-h-svg-1:hover,
.r-s-c-h-svg-2:hover {
    background-color: #d6d6d66f;
}

.group-chats {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.group-chats>div {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: "Arial";
    font-size: 15px;
    font-weight: 600;
    padding: 8px 3px;
    border-radius: 10px;
    cursor: pointer;
}

.group-chats>div:hover {
    background-color: #d6d6d66f;
}

.group-chats>div>img {
    border-radius: 50%;
}

.horizontal-line {
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background-color: #d3ded9;
}

.group-chats-2 {
    margin-top: 10px;
}

.group-chats-2>h2 {
    font-size: 17px;
    color: #65656c;
    font-family: "Arial";
}

.g-c-2-sec-div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 600;
    color: #080809;
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
}

.g-c-2-sec-div:hover {
    background-color: #d6d6d66f;
}

.g-c-2-sec-div>div {
    padding: 10px;
    background-color: #d3ded9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-bar {
    width: 56%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 10px 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}

.profile-nav .img>img {
    border-radius: 50%;
    margin-right: 10px;
}

.profile-nav>button {
    width: 60%;
    border: none;
    background-color: transparent;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: #eeeeee;
    font-size: 17px;
    cursor: pointer;
}

.profile-nav>button:hover {
    background-color: #d6d6d66f;
}

.logo-imgs {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-imgs>img {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

.logo-imgs>img:hover {
    background-color: #d6d6d66f;
}

/* .profile-status {
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 18px;
    justify-content: left;
    gap: 10px;
    font-family: "Arial";
    border-radius: 10px;
    cursor: pointer;
}

.status:hover {
    background-color: #d6d6d66f;
}

.status .svg {
    padding: 10px;
    border-radius: 50%;
    background-color: #ebf5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0866ff;
}

.status .text>h2 {
    font-size: 17px;
}

.status .text>p {
    font-size: 15px;
    color: #65656c;
} */

/********************************************* Stories  ***********************************************/


.story-container {
    display: flex;
    gap: 10px;
    width: 100%;
    overflow-x: auto;
    margin-top: 30px;
}

.story-container>.story {
    background-color: red;
    height: 200px;
    width: 120px;
    min-width: 120px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.story-container>.story>.profile-pic {
    height: 40px;
    width: 40px;
    border: 4px solid #075CE5;
    border-radius: 50%;
    overflow: hidden;
}

.story-container>.story>.profile-pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.story-container>.story>.story-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    background: linear-gradient(to top, #000, #00000000);
    width: 100%;
    font-family: arial;
}

/*********************************************  feed & posts  ***********************************************/


.feed-posts {
    font-family: "Arial";
    width: 100%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 15px 20px;
    border-radius: 30px;
    margin-top: 30px;
}

.feed-posts .top-contant {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
}

.feed-posts .top-contant .t-c-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-posts .top-contant .t-c-1 .t-c-1-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feed-posts .top-contant .t-c-1 .t-c-1-left .account-img>img {
    border-radius: 50%;
    border: 2px solid #0866ff;
    width: 40px;
    height: 40px;
}

.feed-posts .top-contant .t-c-1 .t-c-1-left .account-name .a-n-2 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.feed-posts .top-contant .t-c-1 .t-c-1-left .account-name .a-n-2>span {
    height: 2px;
    width: 2px;
    background-color: #080809;
}

.feed-posts .top-contant .t-c-1 .t-c-1-left .account-name .a-n-1>p {
    font-weight: 600;
    font-size: 15px;
}

.feed-posts .top-contant .t-c-1 .t-c-1-left .account-name .a-n-2>p {
    font-size: 14px;
    color: #65686c;
}

.feed-posts .top-contant .t-c-1 .t-c-1-right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.feed-posts .top-contant .t-c-1 .t-c-1-right .svg-1,
.svg-2 {
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed-posts .top-contant .t-c-1 .t-c-1-right .svg-1:hover,
.svg-2:hover {
    background-color: #d6d6d66f;
}

.feed-posts .top-contant .t-c-2>p {
    font-size: 15px;
}

.feed-posts .feed-img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.feed-posts .feed-img img {
    max-width: 600px;
    width: 100%;
}

.bottom-contant {
    display: flex;
    flex-direction: column;
}

.bottom-contant .likes-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.l-s-1,
.l-s-2 {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #65686c;
}

.bottom-contant .likes-sec .l-s-1>svg {
    width: 18px;
}

.bottom-contant .review-sec {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    align-self: center;
    margin-top: 10px;
}

.like,
.comment,
.share {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #65686c;
}

.x1b0d499.x1d69dk1 {
    filter: invert(43%) sepia(5%) saturate(347%) hue-rotate(182deg) brightness(91%) contrast(87%);
}









/*********************************************  Media Queuries  ***********************************************/

@media (max-width: 768px) {

    .header-left .search-input>input,
    .header-right>button,
    .main .left-sidebar,
    .right-slider {
        display: none;
    }

    .main {
        justify-content: center;
    }

    .center-bar {
        width: 80%;
    }

    .dashboard-header {
        display: flex;
        justify-content: space-between;
    }

    .header-center {
        gap: 20px;
    }

    .header-right {
        max-width: 200px;
        width: 100%;
    }

    .header-left .search-input {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
}

@media (max-width: 425px) {
    .header-center {
        display: none;
    }

    .center-bar {
        width: 100%;
        padding: 20px 0px;
    }

    .logo-imgs {
        gap: 5px;
    }

    .profile-nav>button {
        font-size: 14px;
    }

    .feed-posts {
        border-radius: 0px;
        box-shadow: none;
        padding: 20px 0px;
        margin-top: 0px;
    }

    #feed-posts {
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
    }

    .profile-nav {
        border-radius: 0px;
    }

    .story-container {
        margin-left: 10px;
    }

    .dropdown-menu {
        margin-right: 50px;
    }

    .dropdown-menu-contant {
        flex-direction: column;
    }
}